body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    font-family: 'Mali', sans-serif;
    margin: 10vh;
}

h1 {
    text-align: center;
}

#addTaskButton {
    width: fit-content;
    align-self: center;
    background-color: greenyellow;
}
#addTaskButton:hover {
    background-color: rgba(var(--bs-success-rgb));
    color: white;
}